.physical-model-2-1 {
  background-color: var(--white);
  border: 1px none;
  height: 900px;
  position: relative;
  width: 1530px;
}

.overlap-group-47 {
  height: 878px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1530px;
}

.rectangle-3-19 {
  background-color: var(--rum-swizzle);
  border-radius: 41px 0px 100px 118px;
  height: 182px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1530px;
}

.x1200px-logo_icam_-_2008-1-46 {
  cursor: pointer;
  height: 74px;
  left: 72px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 144px;
}

.please-answer-the-following-questions-17 {
  height: 49px;
  left: 479px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 179px;
  width: 577px;
}

