.table-number-base-12-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  min-width: 271.9px;
}

.overlap-group1-11 {
  height: 24px;
  margin-top: 0;
  position: relative;
  width: 272px;
}

.field-10 {
  align-items: flex-start;
  background-color: var(--white-2);
  display: flex;
  gap: 15px;
  height: 24px;
  left: 0;
  padding: 7px 10px;
  position: absolute;
  top: 0;
  width: 272px;
}

.type-2 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 18.2px;
  position: relative;
  white-space: nowrap;
  width: 105px;
}

.line-container-10 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 272px;
}

.bottom-line-10 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 272px;
}

.left-line-10 {
  height: 23px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.right-line-10 {
  height: 23px;
  left: 271px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.table-number-base-12-1.table-number-base-13 .overlap-group1-11 {
  margin-top: unset;
}

